/* コメント規則 */
/* 1.目的 */
/* 2.条件：タグ名 */

/* 1.footerを固定する */
/* 2. id:header_areasearh*/
input#header_area_search{
    width:20px !important;
}

/* 1.ヘッダーHOMEボタンのフィールド指定 */
/* 2.class: */
.header_button_field{
    width:30%;
    float:left;
    margin:0px;
    
}

/* 1.ヘッダー検索領域のフィールド指定 */
/* 2.class: */
.header_search_field{
    width:70%;
    float:right;
    margin:0px;
    height:100%;
}
/* 1.ヘッダーHOMEボタンのデザイン修正 */
/* 2.class: */
div.ui-btn.ui-input-btn.ui-corner-all.ui-shadow{
    margin:0;
}

/* 1.ヘッダー検索領域のデザイン修正 */
/* 2.class: */
div.ui-input-search.ui-body-inherit.ui-corner-all.ui-shadow-inset.ui-input-has-clear{
    margin:0;
}
/* 1.リスト大枠のデザイン */
/* 2.class: */
li.ui-li-static.ui-body-inherit{
    padding:0;
}

/* 1.リスト領域のアイコン */
/* 2.class: */
.list_image{
    width:15%;
    margin-top:2%;
    height:60px;
    float:left;
}
/* 1.リスト領域のユーザープロフィール */
/* 2.class: */
.list_property{
    width:35%;
    float:left;
}
/* 1.リスト領域の再生ボタン */
/* 2.class: */
.list_play_button{
    margin-top:3%;
    width:20%;
    float:left;
}
/* 1.リスト領域の返信ボタン */
/* 2.class: */
.list_reply_button{
    margin-top:3%;
    width:15%;
    float:left;
}
/* 1.リスト領域のお気に入りボタン */
/* 2.class: */
.list_favorite_button{
    margin-top:3%;
    width:15%;
    float:left;
}
/* 1.ユーザープロフィール領域のテキスト */
/* 2.class: */
.heavy {
    color: #000000;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
    0px 8px 13px rgba(0,0,0,0.1),
    0px 18px 23px rgba(0,0,0,0.1);
    font-family: Helvetica, Arial, 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', 'Meiryo', 'メイリオ', sans-serif;
    margin:0;
}

/*--------list-item-detail画面----------*/
.content.list-item-detail-page{
    margin:0px;
}
.list-item-detail-topic {
    padding:0 3% 0 3%;
}

.list-item-detail-topic:after {
    content: "";
    clear: both;
    height: 0;
    display: block;
    visibility: hidden;
}
.list-item-detail-image {
    width:20%;
    height:20%;
    float:left;
}
.list-item-detail-play-button{
    width:30%;
    height:20%;
    float:left;
}
.list-item-detail-seekbar{
    width:70%;
    height:20%;
    float:left;
}
.list-item-detail-user-name{
    float:left;
}
.list-item-detail-post-time{
    float:right;
}
.list-item-detail-comment-attribute{
    box-sizing:border-box;
    border-right: 1px solid black; line-height: 1.0em;
    width:15%;
    height:15%;
    float:left;
}
.list-item-detail-comment-field{
    width:85%;
    height:15%;
    float:left;
}
hr.emphasis{
    height: 1px;
    background: #bbb;
    background-image: -webkit-linear-gradient(left, #eee, #777, #eee);
    background-image: -moz-linear-gradient(left, #eee, #777, #eee);
    background-image: -ms-linear-gradient(left, #eee, #777, #eee);
    background-image: -o-linear-gradient(left, #eee, #777, #eee);
    clear:both;
}

/*--------user-profile画面----------*/
.content.user-profile-page{
    margin:0px;
}
.user-profile-topic {
    padding:0 3% 0 3%;
}

.user-profile-topic:after {
    content: "";
    clear: both;
    height: 0;
    display: block;
    visibility: hidden;
}
.user-profile-image-area{
    width:30%;
    height:30%;
    float:left;
}
.user-profile-text-area{
    width:70%;
    height:30%;
    float:left;
}
.user-profile-image {
    width:100%;
    height:100%;
}
.follow_button{
    width:80%;
}